.login__form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto; 
    
}

.login__formInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.login__formInput > button{
    margin-top: 20px;
}

.login__formInput > h3{
    margin-top: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}